
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
}

/* Styles pour (ordi) */
@media screen and (min-width:1024px){

  .menuburger{
    display: none;
  } 
}

a{
  text-decoration: none;
}

.background{
    background-image: url(img/orditransparent.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;   
}

.newnav{
  display: flex;
  align-content: space-between;
  margin-top: -30px;
}

.navbar{
  background-color: #CDC2AE;
  display: flex;
 align-content: space-between;
  text-decoration: none;
  padding: 20px;
  width: 100%;
  height: 80px; 
}

.logocentre img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  margin-left: 650px;
  margin-bottom:40px ; 
}

.bloc{ 
    height: 200px;
    width: 800px;
    background-color: #CDC2AE;
    border-radius: 30px;
    color: white;
    margin: auto;
    margin-right: 99px;
    margin-top: 30%;
    border: 2px solid white;   
}

.developpeuse h1{
  text-align: center;
  font-size: 37x;
  margin-top: 54px;
}

.UL{
    display: flex;
    list-style: none;
    float: right;
    margin-top: 20px;
   justify-content: space-between;
   margin-left: 87%;
}


.UL li{
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #ffff;
    margin: 10px;
    font-weight: 500;
    transition: 0,6s ease ; 
}


.UL li:hover{
    background: #ffff;   
    color: #CDC2AE;
}

/* Styles pour  (tablette) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
body{
  height: 100vh;
}
  .background {
    display: flex;
    flex-direction: column-reverse;  
  }

  .newnav {
    display: none;
  }

  .menuburger img{
    height: 60px;
    width: 60px;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logocentre img {
    height: 200px; 
    width: 200px; 
    margin: 0 auto; 
    margin-left: 5%;
    margin-bottom: 50%;
  }
  

  .bloc {
    width: 50%; 
    margin: auto;
   
  }

}
   
    /* Styles pour  (mobile) */
    
@media screen and (max-width:767px) {
  .background {
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
  }

  .newnav {
    display: none;
  }
  .menuburger img{
    
    height: 50px;
    width: 50px;
  }
  .navbar {
   align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .logocentre img {
    height: 200px; 
    width: 200px; 
    margin: 0 auto; 
    margin-left: 57%;
   
  }

  .bloc {
    width: 90%; 
    margin: auto;
    margin-top: 40%;
   /* margin-left: -30%;
   margin-right: 20%; */
  
  }


}


/*Présentation*/


.fond {
  background-color: #CDC2AE;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: cover;
}

.Présentation {
  text-transform: uppercase;
  height: 225px;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
  letter-spacing: 5px;
}

.lignedessus {
  border: none;
  border-top: 2px solid black;
  margin: 10px 0;
}

.lignedessous {
  border: none;
  border-top: 2px solid black;
  margin: 10px 0;
}

.jemappelle {
  text-align: center;
  width: 54%;
  font-size: 22px;
  margin-right: 10%;
  line-height: 40px;
  margin-bottom: auto";
}

.rectangle {
  display: flex;
  padding: 10%;
  background-color: white;
  height: 84vh;
  width: 80vw;
  margin: auto;

}


/* Styles pour les écrans de téléphone */

@media screen and (max-width: 767px) {
  .Présentation {
      font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
      margin-top: 10%;
      letter-spacing: 3px;
  }

  .jemappelle {
      width: 90%; /* Ajustez la largeur du texte selon vos besoins */
      font-size: 18px; /* Ajustez la taille de la police selon vos besoins */
      margin-right: 5%;
      margin-top: 5%;
      line-height: 30px;
  }

  .rectangle {
      padding: 5%; /* Ajustez la marge intérieure selon vos besoins */
  }
}






/*Compétences*/

/* Styles pour les écrans larges */
.titrecomp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 34%;
    letter-spacing: 5px;
    font-size: 40px;
}

.lesrectangles {
    display: flex;
    justify-content: center;
}

.rectanglefoncé {
    height: 400px;
    width: 300px;
    background-color: #9A9283;
    z-index: 1;
    margin: -40px;
    display: flex;
    justify-content: center;
    border: 3px solid white;
}

.ul1 {
    height: 200px;
    width: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    padding: 20%;
    list-style: none;
    line-height: 40px;
}

.ul2 {
    height: 200px;
    width: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
    padding: 20%;
    line-height: 40px;
    list-style: none;
}

.rectangleclair {
    height: 400px;
    width: 300px;
    background-color: #CDC2AE;
    display: flex;
    justify-content: center;
    border: 3px solid white;
}

.titrelogo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.divfleur {
    display: flex;
    height: 80vh;
    align-items: center;
}

.fleur2 {
    background-image: url(img/pexels-karolina-grabowska-4207709.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 65%;
    margin-top: 40px;
}


/* Media Query pour les écrans de téléphone */
@media screen and (max-width: 480px) {
    .titrecomp {
        margin-right: 0; /* Réinitialise la marge */
        font-size: 6px; /* Réduit la taille de la police */
    }

    .lesrectangles {
        flex-direction: column; /* Met les rectangles en colonne */
        align-items: center; /* Centre les rectangles */
    }

    .rectanglefoncé,
    .rectangleclair {
        height: auto; /* Ajuste la hauteur en fonction du contenu */
        width: 100%; /* Remplit la largeur de l'écran */
        margin: 0; /* Réinitialise la marge */
    }

    .ul1,
    .ul2 {
        font-size: 1vh; /* Réduit la taille de la police */
        padding: 10px; /* Réduit le rembourrage */
      line-height: 3vh;
       
    }

    .ul2{
      margin-top: vh;
    }
}


/* Styles pour les tablettes */
@media screen and (max-width: 768px) {
  /* Styles pour le titre COMPÉTENCES */
  .titrecomp {
      font-size: 30px; /* Réduire la taille du texte */
      margin-right: 0; /* Supprimer la marge à droite */
  }

  /* Styles pour les rectangles */
  .lesrectangles {
      flex-direction: column; /* Afficher les rectangles en colonne */
  }

  .rectanglefoncé,
  .rectangleclair {
      width: 100%; /* Remplir la largeur de l'écran */
      height: auto; /* Ajuster la hauteur automatiquement */
      margin: 10px 0; /* Ajouter de l'espace entre les rectangles */
  }

  .ul1,
  .ul2 {
      width: 100%;
      padding: 10px;
      font-size: 2vh;
      

 }
}



/*DWWM*/

.arrièreplan{
    height: 100vh;
    width: 100vw;
    background-position: center ;
    background-size: cover;
    background-image: url(img/fondtransparent.jpg);
  }

#navbarDWWM{
  height: 20vh;
  width: 100vw;
  display: flex;
  text-align: center;
   color: black; 
    font-size: 2em;   
} 

.leh1{
  margin-left: 37vw;
  letter-spacing: 1vw;
}

.diagramme {
  margin: auto;
    height: 60%;
    width: 100vw;
    display: flex;
    background-color: rgba(255, 255, 255, 0.706);
    margin-right: 30%; 
  }
 
 .cotégauche{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    width: 50%;
    margin: auto;
    margin-left: 5%;
 }
  
  .skill {
    height: 5vh;
    width: 60%;
    background-color: black;
    border-radius: 50px;
  
  }
  .skill2 {
    height: 5vh;
    width: 60%;
    background-color: #CDC2AE;

    border-radius: 50px;
    border: 3px solid white;
  }

.leslogos{
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: -40%;
}
  .cotédroit{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 50%;
    justify-content: space-around;
    margin: auto;
  }


/*CommunityManager*/


.titreCM{
    text-align: center;
}
.GLOBAL{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-top: 10%;
}
.management{
    display: flex;
    margin-left: -70%;
}

.flyerlogo{
    display: flex;
    margin-left: -70%;   
}

.seo {
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    margin-bottom: 3%;
  }
  .seo2 {
    height: 50px;
    width: 40%;
    background-color: #CDC2AE;
    border-radius: 50px;
    border: 5px solid white;
  }

.logoseo{
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: -40%;
}

  .capcut {
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    
  }
  .capcut2 {
    height: 50px;
    width: 40%;
    background-color: #CDC2AE;
    border-radius: 50px;
    border: 5px solid white;
  }

  .logocapcut{
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: -40%;
}

  .canva {
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    margin-top: 50px;
  }
  .canva2 {
    height: 50px;
    width: 40%;
    background-color: #CDC2AE;
    border-radius: 50px;
    border: 5px solid white;
  }

  .logocanva{
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: -40%;
}


  .MDRS {
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 3%;
    
   

  }
  .MDRS2 {
    height: 50px;
    width: 40%;
    background-color: #CDC2AE;
    border-radius: 50px;
    border: 5px solid white;
   
  }

  .management{
    display: flex;
    align-items: center;
  }

  .flyer {
    height: 50px;
    width: 50%;
    background-color: black;
    border-radius: 50px;
  }
  .flyer2 {
    height: 50px;
    width: 40%;
    background-color: #CDC2AE;
    border-radius: 50px;
    border: 5px solid white;
  }


  @media screen and (max-width: 480px) {
    .logoseo{
      margin-left: -60px;
    }
    .logocapcut{
      margin-left: -60px;
    }
    .logocanva{
      margin-left: -60px;
    }
    .MDRS2{
      font-size: 20%;
  }
}


/*Contacts*/

body .global{
    background-image: url(img/pexels-irina-iriser-1447987.jpg);
    opacity: 80%;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0%;
    margin: 0%;
  
}


.logo5{
    margin-top: 2%;
    margin-left: 1%;
    height: 60px;
    width: 60px;
   
}

.logo55{
    height: 60px;
    width: 60px;
    border-radius: 50% ;
}


.merci{
    height: 200px;
    width: 100%;
    text-align: center;
   font-size: 30px;
   color: white;
   margin-right: 6%;
}

.logotitre{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    letter-spacing: 10px;
}

  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #A8A088;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
  
  .container {
    box-sizing : border-box;
    border-radius:5px;
   color: white;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:auto;
    display: flex;
    align-items: center;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.33);
  }

  form{
    width: 800px; 
  }
  
  form  .lecontact{
    margin-bottom: 10%;
  }

  @media screen and (max-width: 480px){
    .merci { font-size: 20px; 
    }  
  }
